parameters:
    database_driver: pdo_pgsql
    database_host: theHost
    database_port: null
    database_name: theBase
    database_user: theUser
    database_password: thePass
    database_path: null

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null

    locale: fr
    secret: 781bb2fb1042cf75571010987b12f060318

    completehost: http://localhost/devblog/