<div class="eSeeraiwer-toolbar-block">
    <div class="eSeeraiwer-toolbar-icon">
        <a href="{{ path('sgn_devblog_blog_index') }}">
            <img width="26" height="28" alt="DevBlog" src="{{ asset('bundles/sgndevblog/images/lego.png') }}">
            <span class="eSeeraiwer-toolbar-status eSeeraiwer-toolbar-status" style="margin-top:1px;">{{ 'Accueil'|transEdit }}</span>
        </a>
    </div>
</div>