<div class="eSeeraiwer-toolbar-block">
    <div class="eSeeraiwer-toolbar-icon">
        <a href="">
            <img width="0" height="28" alt="" src="">
            <span>{{ 'links'|transEdit({}, 'DevBlog') }}</span>
        </a>
    </div>
    <div class="eSeeraiwer-toolbar-info" style="min-width:120px;">
        <div class="eSeeraiwer-toolbar-info-piece">
            <a href="http://sgn.ign.fr/satis/" title="Le Packagist du SGN">
                <span style="display:block;" class="eSeeraiwer-toolbar-status">
                    <img style="vertical-align: middle;width:16px;height:16px;" title="" alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QcYDQ0ozTpD1QAAAIpQTFRFAAAADDoADQBEEABWEEoAEwBmE1gAFmgAFwB4GXYAGgCIHIYAHQCaH5QAIwC8I6QAJgDMJrIAKcIAKgDeLNAALQDuMOAAMQH/VgAIVkkAZgAKZlYAeGYAiAANmgAOmoIAqgAQqpAAvAASvJ8AzAATzK0A3gAV3rwA4ODg7gAW7soA/wEZ/9gB////l0JlLgAAAAFiS0dEAIgFHUgAAACTSURBVBgZBcExTsNQEAXAyfMauaCM0nADuP91kFKTDkGwv71m5vIBfAHPt0A36OYzYDStB2Kwrkd3et1R9q23TD3sf6/MkWPPS5JtLIUyp0Xm6bwEJdFINNQD3XXT6WO+Cxg7MTZXsXY/t4zR47e5lv4e52L6OQ6FMiuVLNuUQqkC8wxcJsANLJ338zzPM3kkSTb/BbpLGy1dCt4AAAAASUVORK5CYII=" /> SATIS
            </span>
            </a>
        </div>
        <div class="eSeeraiwer-toolbar-info-piece">
            <a href="http://sgn.ign.fr/gitweb/" title="L'explorateur des dépôts GIT du SGN">
                <span style="display:block;" class="eSeeraiwer-toolbar-status">
                    <img style="vertical-align: middle;width:16px;height:16px;" width="16" height="16" title="" alt="" src="http://sgn.ign.fr/gitweb/git-favicon.png" /> GITWeb
                </span>
            </a>
        </div>
        <div class="eSeeraiwer-toolbar-info-piece">
            <a href="http://sgn.ign.fr/websvn/" title="L'explorateur des dépôts SVN du SGN">
                <span style="display:block;" class="eSeeraiwer-toolbar-status">
                    <img style="vertical-align: middle;width:16px;height:16px;" width="16" height="16" title="" alt="" src="http://sgn.ign.fr/websvn/templates/calm/images/favicon.ico" /> WebSVN
                </span>
            </a>
        </div>
    </div>
</div>