body > .container {
	margin-top: 25px;
	width: 90%;
}

.jms-translation-anchor {
	padding-top: 50px;
	margin-top: -50px;
}

.topbar {
	position: relative;
}

.topbar-inner {
	background-color: #ffffff;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#e4e4e4), to(#ffffff));
	background-image: -moz-linear-gradient(top, #e4e4e4, #ffffff);
	background-image: -ms-linear-gradient(top, #e4e4e4, #ffffff);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4e4e4), color-stop(100%, #ffffff));
	background-image: -webkit-linear-gradient(top, #e4e4e4, #ffffff);
	background-image: -o-linear-gradient(top, #e4e4e4, #ffffff);
	background-image: linear-gradient(top, #e4e4e4, #ffffff);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#ffffff', GradientType=0);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.topbar h3 a,
.topbar h3 a:hover {
	color: #2f2f2f;
}